# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
min(3,4)

3

In [5]:
max(3,8)

8

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
testString = "Paris Prashant"
solutionList = testString.split()

In [10]:
solutionList[0][0]

'P'

In [11]:
solutionList[1][0]

'P'

In [19]:
'1'=='2'

False

In [12]:
def animal_crackers(text):
    intSolution = text.split()
    return intSolution[0][0] == intSolution[1][0]

In [13]:
# Check
animal_crackers('Levelheaded Llama')

True

In [14]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [15]:
animal_crackers('paris Prashant')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20: 
        return True
    else: 
        return False

In [24]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [25]:
# Check
makes_twenty(20,10)

True

In [26]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [27]:
nameString = "prashant"
#Index location of first letter is 0
#Index location of fourth letter is 3
# You need to have a word that has atleast 4 letters

"a".upper()

'A'

In [29]:
def old_macdonald(name):
    if len(name) >=4 :
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return "Not enough letters"

In [30]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [31]:
old_macdonald('prashant')

'PraShant'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [32]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    return " ".join(text)

In [33]:
# Check
master_yoda('I am home')

'home am I'

In [34]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [35]:
def almost_there(n):
    return abs(n-100)<=10 or abs(n-200)<=10

In [39]:
def almost_there(n):
    if n in range(90,111) or n in range(190,211):
        return True
    else:
        return False

In [40]:
# Check
almost_there(104)

True

In [41]:
# Check
almost_there(150)

False

In [42]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [43]:
def has_33(nums):
  for i in range(len(nums)-1):
    if nums[i:i+2] == [3,3]:
      return True
  return False

In [44]:
# Check
has_33([1, 3, 3])

True

In [45]:
# Check
has_33([1, 3, 1, 3])

False

In [46]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [47]:
def paper_doll(text):
    x = ""
    for i in text:
        x += i * 3
    return x

In [48]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [49]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [50]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum > 21:
        if a==11 or b==11 or c==11:
            return sum-10
        else:
            return 'BUST'
    elif sum <= 21:
        return sum

In [51]:
# Check
blackjack(5,6,7)

18

In [52]:
# Check
blackjack(9,9,9)

'BUST'

In [53]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [56]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        if num == 6:
            add = False
        if add:
            total += num
        if num == 9:
            add = True
            
    return total

In [57]:
# Check
summer_69([1, 3, 5])

9

In [58]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [59]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [62]:
list1 = [0,0,7,0]
list1.pop(0)
print(list1)

[0, 7, 0]

In [63]:
list1.pop(0)
print(list1)

[7, 0]

In [64]:
list1.pop(0)
print(list1)

[0]

In [65]:
def spy_game(nums):
    searchList=[0,0,7,'stop']
    
    for num in nums:
        if num == searchList[0]:
            searchList.pop(0)
            
    return len(searchList) == 1

In [66]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [67]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [68]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [69]:
def count_primes(num):
    result_list = []
    for x in range(2, num):
        not_prime = False
        for y in range(2, x):
            if x % y == 0:
                not_prime = True
                break
        if not not_prime:
            result_list.append(x)
    return len(result_list)

In [70]:
# Check
count_primes(100)

25

In [71]:
import sympy

def count_primes(num):
    c = 0
    for i in range(2, num):
        if sympy.isprime(i):
            c += 1
            
    return c

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [72]:
def print_big(letter):
    letters = {"a":"  *  \n * * \n*****\n*   *\n*   *", "b":"**** \n*   *\n**** \n*   *\n**** ","c":" ****\n*    \n*    \n*    \n ****",
"d":"**** \n*   *\n*   *\n*   *\n**** ","e":"*****\n*    \n***  \n*    \n*****",}
    print(letters.get(letter.lower()))

In [73]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!