In [1]:
#Collections in Python
#
# a. List
# b. Tuple
# c. Dictionary
# d. Set

In [2]:
# List --- Mutable Object that can store collection of data.
# Creating a list -----> [] or list()
# There are two types of list:
# a. Homogenous List - All elements in the list object is of same datatype
# b. Heterogenous List - All elements in the list object may be of different datatype

In [3]:
#Homogenous List
data =[1,2,3,4,5,6,7,8,9]
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#Heterogenous list
data2 = [1,2,'Prashant',3.6,2+5j]
print(data2)

[1, 2, 'Prashant', 3.6, (2+5j)]

In [7]:
#Accessing elements in the list

# Accessing Single element  ------------------- Using index location

data2[2]

'Prashant'

In [9]:
# Accessing series(continuity) of elements

data[3:7]

[4, 5, 6, 7]

In [10]:
variable1 = [1.2, 'India','Mac', True, [10,11,12,13,14,15,16], 3+4j, ["Mumbai","Maharashtra"]]

#How many elements are there in the list?
len(variable1)

7

In [11]:
#Extract True
variable1[3]

True

In [13]:
#Extract 11,12,13,14

variable1[4][1:5]

[11, 12, 13, 14]

In [15]:
#Extract Mumbai

variable1[6][0]

'Mumbai'

In [16]:
variable1

[1.2,
 'India',
 'Mac',
 True,
 [10, 11, 12, 13, 14, 15, 16],
 (3+4j),
 ['Mumbai', 'Maharashtra']]

In [18]:
#Replace mac with windows
variable1[2] = "Windows"

In [19]:
variable1

[1.2,
 'India',
 'Windows',
 True,
 [10, 11, 12, 13, 14, 15, 16],
 (3+4j),
 ['Mumbai', 'Maharashtra']]