In [1]:
#Collections in Python
#
# a. List
# b. Tuple
# c. Dictionary
# d. Set

In [2]:
# List --- Mutable Object that can store collection of data.
# Creating a list -----> [] or list()
# There are two types of list:
# a. Homogenous List - All elements in the list object is of same datatype
# b. Heterogenous List - All elements in the list object may be of different datatype

In [3]:
#Homogenous List
data =[1,2,3,4,5,6,7,8,9]
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#Heterogenous list
data2 = [1,2,'Prashant',3.6,2+5j]
print(data2)

[1, 2, 'Prashant', 3.6, (2+5j)]

In [7]:
#Accessing elements in the list

# Accessing Single element  ------------------- Using index location

data2[2]

'Prashant'

In [9]:
# Accessing series(continuity) of elements

data[3:7]

[4, 5, 6, 7]

In [10]:
variable1 = [1.2, 'India','Mac', True, [10,11,12,13,14,15,16], 3+4j, ["Mumbai","Maharashtra"]]

#How many elements are there in the list?
len(variable1)

7

In [11]:
#Extract True
variable1[3]

True

In [13]:
#Extract 11,12,13,14

variable1[4][1:5]

[11, 12, 13, 14]

In [15]:
#Extract Mumbai

variable1[6][0]

'Mumbai'

In [16]:
variable1

[1.2,
 'India',
 'Mac',
 True,
 [10, 11, 12, 13, 14, 15, 16],
 (3+4j),
 ['Mumbai', 'Maharashtra']]

In [18]:
#Replace mac with windows
variable1[2] = "Windows"

In [19]:
variable1

[1.2,
 'India',
 'Windows',
 True,
 [10, 11, 12, 13, 14, 15, 16],
 (3+4j),
 ['Mumbai', 'Maharashtra']]

In [20]:
# Dictionary - Dictionary is a Mutable Object
# Data representation in a dictionary
#   Key value pair
#

# Dictionary is ideally used as an in-memory lookup table


stateAndCapitalsInIndia = {
"Maharashtra":"Mumbai",
    "Goa":"Panjim",
    "Karnataka":"Bengaluru"
}

In [21]:
stateAndCapitalsInIndia['Maharashtra']

'Mumbai'

In [22]:
stateAndCapitalsInIndia['Rajasthan']

KeyError: 'Rajasthan'

In [23]:
stateAndCapitalsInIndia['Rajasthan']="Jaipur"

In [24]:
stateAndCapitalsInIndia

{'Maharashtra': 'Mumbai',
 'Goa': 'Panjim',
 'Karnataka': 'Bengaluru',
 'Rajasthan': 'Jaipur'}

In [25]:
stateAndCapitalsInIndia['Maharashtra']="MUMBAI"

In [26]:
stateAndCapitalsInIndia

{'Maharashtra': 'MUMBAI',
 'Goa': 'Panjim',
 'Karnataka': 'Bengaluru',
 'Rajasthan': 'Jaipur'}

In [27]:
# Tuple --------- IMMUTABLE OBJECT (Once created, it cannot be modified)

tuple1 = (1,2,3,4,5)

In [28]:
type(tuple1)

tuple

In [32]:
tuple1[0]=10

TypeError: 'tuple' object does not support item assignment

In [33]:
tuple1[1:3]

(2, 3)

In [34]:
# Set ---- Extract only unique values

list1=[1,1,1,1,2,2,2,3,3,3,3,3,4,4,4,4]
set(list1)

{1, 2, 3, 4}

In [35]:
#Incase if you need descending order.. Set doesnt support that
# What you can do is you can convert it into list and sort the same

sorted(set(list1),reverse=True)

[4, 3, 2, 1]